<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - All About Sports </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-hover="dropdown" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Sports App</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="true">NBA<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-6">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Atlantic</a></li>
                                        <li><a href="#">Boston</a></li>
                                        <li><a href="#">Brooklyn</a></li>
                                        <li><a href="#">New York</a></li>
                                        <li><a href="#">Philadelphia</a></li>
                                        <li><a href="#">Totonto</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Central</a></li>
                                        <li><a href="#">Chicago</a></li>
                                        <li><a href="#">Cleveland</a></li>
                                        <li><a href="#">Detroit</a></li>
                                        <li><a href="#">Idiana</a></li>
                                        <li><a href="#">Milwaukee</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">NorthWest</a></li>
                                        <li><a href="#">Denver</a></li>
                                        <li><a href="#">Minnesota</a></li>
                                        <li><a href="#">Oklahoma</a></li>
                                        <li><a href="#">Portland</a></li>
                                        <li><a href="#">Utah</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Pacific</a></li>
                                        <li><a href="#">Golden St.</a></li>
                                        <li><a href="#">LA Clippers</a></li>
                                        <li><a href="#">LA Lakers</a></li>
                                        <li><a href="#">Phoenix</a></li>
                                        <li><a href="#">Sacramento</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">SouthEast</a></li>
                                        <li><a href="#">Atlanta</a></li>
                                        <li><a href="#">Charlotte</a></li>
                                        <li><a href="#">Miami</a></li>
                                        <li><a href="#">Orlando</a></li>
                                        <li><a href="#">Washington</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">SouthWest</a></li>
                                        <li><a href="#">Dallas</a></li>
                                        <li><a href="#">Houston</a></li>
                                        <li><a href="#">Memphis</a></li>
                                        <li><a href="#">New Orleans</a></li>
                                        <li><a href="#">San Antonio</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="true">NFL<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <div class="col-sm-3">
                                            <li><a href="#">Buffalo</a></li>
                                            <li><a href="#">Miami</a></li>
                                            <li><a href="#">New England</a></li>
                                            <li><a href="#">NY Jets</a></li>
                                        </div>
                                        <div class="col-sm-3">
                                            <li><a href="#">Baltimore</a></li>
                                            <li><a href="#">Cincinati</a></li>
                                            <li><a href="#">Cleveland</a></li>
                                            <li><a href="#">Pittsburgh</a></li>
                                        </div>
                                        <div class="col-sm-3">
                                            <li><a href="#">Houston</a></li>
                                            <li><a href="#">Indianapolis</a></li>
                                            <li><a href="#">Jaksonville</a></li>
                                            <li><a href="#">Tennessee</a></li>
                                        </div>
                                        <div class="col-sm-3">
                                            <li><a href="#">Denver</a></li>
                                            <li><a href="#">Kansas City</a></li>
                                            <li><a href="#">Los Angeles</a></li>
                                            <li><a href="#">Oakland</a></li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <div class="col-sm-3">
                                            <li><a href="#">Dallas</a></li>
                                            <li><a href="#">NY Giants</a></li>
                                            <li><a href="#">Philadelphia</a></li>
                                            <li><a href="#">Washington</a></li>
                                        </div>
                                        <div class="col-sm-3">
                                            <li><a href="#">Chicago</a></li>
                                            <li><a href="#">Detroit</a></li>
                                            <li><a href="#">Green Bay</a></li>
                                            <li><a href="#">Minnesota</a></li>
                                        </div>
                                        <div class="col-sm-3">
                                            <li><a href="#">Atlanta</a></li>
                                            <li><a href="#">Carolina</a></li>
                                            <li><a href="#">New Orleans</a></li>
                                            <li><a href="#">Tampa Bay</a></li>
                                        </div>
                                        <div class="col-sm-3">
                                            <li><a href="#">Arizona</a></li>
                                            <li><a href="#">Los Angeles</a></li>
                                            <li><a href="#">San Francisco</a></li>
                                            <li><a href="#">Seattle</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="true">NHL<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-4">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Atlantic</a></li>
                                        <li><a href="#">Boston</a></li>
                                        <li><a href="#">Buffalo</a></li>
                                        <li><a href="#">Detroit</a></li>
                                        <li><a href="#">Florida</a></li>
                                        <li><a href="#">Montreal</a></li>
                                        <li><a href="#">Ottawa</a></li>
                                        <li><a href="#">Tampa Bay</a></li>
                                        <li><a href="#">Toronto</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Central</a></li>
                                        <li><a href="#">Chicago</a></li>
                                        <li><a href="#">Colorado</a></li>
                                        <li><a href="#">Dallas</a></li>
                                        <li><a href="#">Minnesota</a></li>
                                        <li><a href="#">Nashville</a></li>
                                        <li><a href="#">St. Louis</a></li>
                                        <li><a href="#">Winnipeg</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Pacific</a></li>
                                        <li><a href="#">Anaheim</a></li>
                                        <li><a href="#">Arizona</a></li>
                                        <li><a href="#">Calgary</a></li>
                                        <li><a href="#">Edmonton</a></li>
                                        <li><a href="#">Los Angeles</a></li>
                                        <li><a href="#">San Jose</a></li>
                                        <li><a href="#">Vancouver</a></li>
                                        <li><a href="#">Vegas</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Metropolitan</a></li>
                                        <li><a href="#">Carolina</a></li>
                                        <li><a href="#">Columbus</a></li>
                                        <li><a href="#">New Jersey</a></li>
                                        <li><a href="#">NY Islanders</a></li>
                                        <li><a href="#">NY Rangers</a></li>
                                        <li><a href="#">Philadelphia</a></li>
                                        <li><a href="#">Pittsburgh</a></li>
                                        <li><a href="#">Washington</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="true">MLB<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-6">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">AL East</a></li>
                                        <li><a href="#">Boston</a></li>
                                        <li><a href="#">Brooklyn</a></li>
                                        <li><a href="#">New York</a></li>
                                        <li><a href="#">Philadelphia</a></li>
                                        <li><a href="#">Totonto</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">AL Central</a></li>
                                        <li><a href="#">Boston</a></li>
                                        <li><a href="#">Brooklyn</a></li>
                                        <li><a href="#">New York</a></li>
                                        <li><a href="#">Philadelphia</a></li>
                                        <li><a href="#">Totonto</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">AL West</a></li>
                                        <li><a href="#">Boston</a></li>
                                        <li><a href="#">Brooklyn</a></li>
                                        <li><a href="#">New York</a></li>
                                        <li><a href="#">Philadelphia</a></li>
                                        <li><a href="#">Totonto</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">NL East</a></li>
                                        <li><a href="#">Boston</a></li>
                                        <li><a href="#">Brooklyn</a></li>
                                        <li><a href="#">New York</a></li>
                                        <li><a href="#">Philadelphia</a></li>
                                        <li><a href="#">Totonto</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">NL Central</a></li>
                                        <li><a href="#">Boston</a></li>
                                        <li><a href="#">Brooklyn</a></li>
                                        <li><a href="#">New York</a></li>
                                        <li><a href="#">Philadelphia</a></li>
                                        <li><a href="#">Totonto</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">NL West</a></li>
                                        <li><a href="#">Boston</a></li>
                                        <li><a href="#">Brooklyn</a></li>
                                        <li><a href="#">New York</a></li>
                                        <li><a href="#">Philadelphia</a></li>
                                        <li><a href="#">Totonto</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="https://www.stubhub.com/sports-tickets/category/28/">Tickets</a></li>
                    <li><a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a></li>
                    <li><a href="#">Calculator</a></li>
                    <li><a href="#">Brackets</a></li>
                    <li><a asp-area="" asp-controller="Search" asp-action="Index">Search</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - All About Sports</p>
            </footer>
        </div>*@
    <div class="container-fluid">
        <h1>Home Page</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p>
        <div class="row">
            <div class="col-sm-8 col-lg-8" style="background-color:olive">

                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - All About Sports</p>
                </footer>
            </div>
            <div class="col-sm-4 col-lg-4" style=" background-color:cornflowerblue">
                <div class="body-content">
                    <a class="twitter-timeline" href="https://twitter.com/espn?ref_src=twsrc%5Etfw">Tweets by espn</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum auctor euismod. Donec eleifend neque mollis ipsum ornare consequat. Ut sed urna tempor, pulvinar urna ac, eleifend urna. Curabitur malesuada ipsum et velit posuere auctor. Nam venenatis magna felis, vel tincidunt ligula feugiat eget. Nullam vel eros lorem. Suspendisse quam eros, congue at libero ac, semper sodales tortor. Etiam gravida ultrices libero, sed commodo ligula efficitur et. Duis sit amet placerat mauris.

                        Morbi vitae massa sollicitudin sem dignissim vestibulum. Aenean efficitur ultrices tincidunt. Curabitur nec neque ac nisi ornare varius. Pellentesque orci ipsum, pretium in pretium vel, auctor ultrices arcu. Nam bibendum turpis vel tristique blandit. Donec eget pretium turpis, quis viverra turpis. Vivamus accumsan est non nunc auctor, in pretium lectus molestie. Proin sed bibendum lectus. Suspendisse ultrices est vitae dui mollis, sed sagittis orci convallis. Fusce et feugiat augue. Quisque varius rutrum libero sit amet volutpat. Sed at ex at nulla vehicula rutrum eu nec tortor.

                        Nam sagittis augue eu turpis tristique pellentesque. Nullam convallis, tortor nec gravida condimentum, dui purus faucibus ex, nec ultrices neque arcu in justo. Donec nunc mauris, tincidunt non erat at, maximus pretium metus. Praesent pretium metus et metus condimentum, eu pretium enim dignissim. Donec sagittis quis nibh ornare gravida. Sed a sem ipsum. Praesent sit amet tellus tempus, tempus mi at, ullamcorper risus. Phasellus porta lacinia nisl, nec porta risus molestie non. Etiam sem turpis, tristique quis eleifend eget, sagittis ac ex. Nulla congue est sit amet sodales fringilla. Fusce sit amet turpis id ex cursus lobortis sit amet a nibh. Aenean vehicula, libero condimentum consectetur imperdiet, ipsum arcu tristique tortor, eget aliquam purus est ut urna. Suspendisse tincidunt dictum dui, vel gravida nisl posuere sit amet. Nunc feugiat lacus nulla, at dictum nulla egestas non. Phasellus tincidunt viverra lacus.

                        Etiam sit amet ex quam. Fusce finibus massa et aliquam consectetur. Duis efficitur ullamcorper dolor ac eleifend. Praesent nibh dolor, fermentum quis urna eget, hendrerit imperdiet massa. Aliquam erat volutpat. Maecenas maximus porttitor elit sed laoreet. Integer elementum purus sit amet sollicitudin venenatis. Donec semper risus sed libero sagittis egestas. Donec in libero in massa ullamcorper vulputate.
                        Morbi vitae massa sollicitudin sem dignissim vestibulum. Aenean efficitur ultrices tincidunt. Curabitur nec neque ac nisi ornare varius. Pellentesque orci ipsum, pretium in pretium vel, auctor ultrices arcu. Nam bibendum turpis vel tristique blandit. Donec eget pretium turpis, quis viverra turpis. Vivamus accumsan est non nunc auctor, in pretium lectus molestie. Proin sed bibendum lectus. Suspendisse ultrices est vitae dui mollis, sed sagittis orci convallis. Fusce et feugiat augue. Quisque varius rutrum libero sit amet volutpat. Sed at ex at nulla vehicula rutrum eu nec tortor.

                        Nam sagittis augue eu turpis tristique pellentesque. Nullam convallis, tortor nec gravida condimentum, dui purus faucibus ex, nec ultrices neque arcu in justo. Donec nunc mauris, tincidunt non erat at, maximus pretium metus. Praesent pretium metus et metus condimentum, eu pretium enim dignissim. Donec sagittis quis nibh ornare gravida. Sed a sem ipsum. Praesent sit amet tellus tempus, tempus mi at, ullamcorper risus. Phasellus porta lacinia nisl, nec porta risus molestie non. Etiam sem turpis, tristique quis eleifend eget, sagittis ac ex. Nulla congue est sit amet sodales fringilla. Fusce sit amet turpis id ex cursus lobortis sit amet a nibh. Aenean vehicula, libero condimentum consectetur imperdiet, ipsum arcu tristique tortor, eget aliquam purus est ut urna. Suspendisse tincidunt dictum dui, vel gravida nisl posuere sit amet. Nunc feugiat lacus nulla, at dictum nulla egestas non. Phasellus tincidunt viverra lacus.

                        Etiam facilisis id magna a fermentum. Pellentesque porttitor, lectus nec rutrum sagittis, nunc eros imperdiet mauris, et hendrerit lacus tortor quis risus. Morbi sollicitudin rhoncus justo. Maecenas vel nisi in lorem vulputate facilisis. Nam fringilla malesuada odio at pretium. Nulla facilisi. Donec ac pellentesque nibh. Pellentesque nibh diam, egestas sed enim ac, aliquam fringilla felis. Nullam eu mattis sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent consectetur vulputate tempus. Aenean egestas, eros et rhoncus congue, mauris risus bibendum tortor, ac luctus lacus ex quis ipsum. Aenean aliquam malesuada orci, nec eleifend nibh. Morbi sagittis vulputate leo, vitae mattis dui pellentesque eu. Aliquam nec tempor turpis.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-hover-dropdown.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
